{% extends 'main.html' %}
{% block contents %}
{% include 'menu.html' %}
{% if datas  %}
<table class="table">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{loop.index + ((page-1)*limit)}}</td>
            <td><a href="{{url_for('board.board_view', idx=data._id, search=search, keyword=keyword)}}">{{data.title}}</a></td>
            <td>{{data.name}}</td>
            <td>{{data.current_utc_time|formatdatetime}}</td>
            <td>{{data.view_count}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul class="pagination justify-content-center">
{% if block_start > 1 %}
    <li class="page-item"><a class="page-link" href="{{url_for('board.lists', page=(block_start-1), search=search, keyword=keyword)}}">이전</a></li>
{% endif %}
{% for i in range(block_start, block_last+1) %}
    {% if i == page %}
        <li class="page-item"><a class="page-link active text-warning" disabled>{{i}}</a></li>
    {% else %}
        {% if i > last_page_num %}
            <li class="page-item"><a class="page-link" disabled>{{i}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{url_for('board.lists', page=i, search=search, keyword=keyword)}}">{{i}}</a></li>
        {% endif %}
    {% endif %}
{% endfor %}
{% if block_last < last_page_num %}
    <li class="page-item"><a class="page-link" href="{{url_for('board.lists', page=(block_last+1), search=search, keyword=keyword)}}">다음</a></li>
{% endif %}
</ul>


{% else %}
        작성된 글이 없습니다.
{% endif %}
<div class="text-center">
    <select id="search" name="search">
        <option value="0">제목</option>
        <option value="1">내용</option>
        <option value="2">제목+내용</option>
        <option value="3">작성자</option>
    </select>
    <input type="text" id="keyword" name="keyword" />
    <input type="button" id="searchButton" name="searchButton" class="btn btn-primary" value="검색" />
    <a href="{{url_for('board.board_write')}}" class="btn btn-primary">글작성하기</a>
</div>
<script type="text/javascript">
var button = document.getElementById("searchButton");
button.addEventListener("click", function(e){
    var search = document.getElementById("search").value;
    var keyword = document.getElementById("keyword").value;
    if(keyword == ""){
        return false;
    } else {
        self.location.href = "{{url_for('board.lists')}}?search="+search+"&keyword="+keyword;
    }

});
</script>
{% endblock contents %}